<form action="http://localhost:8080/productos" method="POST">
    <label for="productoNombre">Nombre Producto:</label><br>
    <input type="text" name="productoNombre">
    <br>
    <br>
    <label for="productoPrecio">Precio:</label><br>
    <input type="number" name="productoPrecio">
    <br>
    <br>
    <label for="productoImagen">Imagen:</label><br>
    <input type="text" name="productoImagen">
    <br>
    <br>
    <input type="submit" value="Enviar">
</form>

<table>
    {{#if productExist}}
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    
            {{#each productList}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.precio}}</td>
                <td>{{this.thumbnail}}</td>
            </tr>
            {{/each}}
        {{else}}
            <p>No se encontraron productos</p>
    {{/if}}
</table>